@page
@model Recipe2Model
@{
}

    ViewData["Title"] = "Recipes";
}
<p>

        <div class="main">
    <div class="centerr">
            <div class="sidenavv">
                <a href="Recipes">Rabbit stew</a>
                <a href="r2">Frog soup</a>
                <a href="Recipes3">Bird feather meatball</a>
                <a href="Recipes4">Turtle kebab</a>
            </div>

            <br /> <br />
            <span style="padding-left:30%">

                <h2>&emsp; &emsp; Rabbit stew with frog legs</h2>
            <br /><br />
                &emsp;   Base ingredients and modifiers <br />
                &emsp;   Base ingredients are ingredients that can be added directly to a water bottle and are the starting point of all potions. Nether wart is the most fundamental of the base ingredients, as it is required to make the vast majority of potions.
                <br /><br />
                &emsp;     Modifiers are ingredients used to alter the properties of a potion or to change a potion effect into a different one. The fermented spider eye is unique in that it is the only modifier that can convert a water bottle directly into an effective potion.
                  <br /><br />
                &emsp;   Enhancement: Generally, upgrading a potion involves a trade-off between duration and potency. A potion with an enhanced effect has shorter duration, and a potion with extended duration cannot have an enhanced effect. However:
                <br /><br />
                &emsp;  Upgrading the effect of a potion that has no time parameter (e.g. Instant Health) with glowstone involves no trade-off.
                &emsp;  Upgrading the time of a potion that has no level II effect (e.g. Fire Resistance) with redstone involves no trade-off.
                &emsp;   Corrupting effect: A fermented spider eye changes a potion's base effect, often reversing it or producing a negative potion.
                <br /><br />
                &emsp;   A corrupted potion usually does the opposite of the original potion.
                &emsp;  Corrupting an enhanced or extended potion into an effect that supports the modifier results in a potion with the same modifier applied.
                &emsp;   Corrupting an enhanced potion of Poison/Healing results in a basic potion of Harming.‌[Java Edition only] Enhanced potions of Leaping or Swiftness cannot be corrupted.
                &emsp;   A potion of Invisibility is considered a "corrupted" version of a potion of Night Vision.
                &emsp; Splash Potion Weakness
                &emsp;  Splash potion brewed using gunpowder.
                <br /><br />
                &emsp;  Splash and lingering potions: Any potion can be turned into a splash potion, and subsequently, a lingering potion. Splash and lingering potions can be used best for affecting other entities.
                <br /> <br />
                &emsp;   Splash potions and lingering potions can be modified in the same manner as their normal counterparts. For instance, a splash water bottle can be brewed with any of the base ingredients; the result remains a splash potion.
                &emsp;   Some extended/enhanced splash and lingering potions cannot be brewed from their extended/enhanced potion/splash potion counterparts, respectively (e.g. Regeneration + → Splash Potion of Regeneration +).‌[Bedrock Edition only]
                &emsp;   Splash potions are made by brewing gunpowder into a potion and lingering potions are made with dragons breath.
                &emsp;   In Bedrock Edition, splash potions' effects have only three-fourths of the duration of the drinkable form. For example, a drinkable potion effect of 8:00 is reduced to 6:00 as a splash potion. In Java Edition, splash and drinkable forms have the same duration.
                &emsp;   Lingering potions have only one-fourth of the duration of the drinkable form. For instance, a drinkable potion effect of 8:00 is reduced to 2:00 as a lingering potion.
                &emsp;   Effect ingredients
                &emsp;   Effect ingredients imbue an awkward potion with a particular effect but do not alter potion duration or intensity. When added directly to a water bottle, most of these ingredients produce a mundane potion. The exceptions to this are golden carrot, pufferfish, turtle shell, and phantom membrane, which cannot be added directly to a water bottle.

                <br /><br /><br />
            </span>
        </div>
    </div>
</p>
