@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <br />   <br />   <br />
    <h1 class="display-4" style="color:white;">Welcome to food for wood!</h1>
    <br />   <br />   
    <p style="color:white;
    font-size: 35px;">
    Here we are cooking both potions and food at the same time!</p>
</div>
<div class="center" style="background-color:white;">
   
   <p style="margin:2%;">
        <br /> <br />     
        &nbsp;&nbsp;&nbsp; I remember the hard times, around the year of 1600s, when i was a new witch. Before they i found out i was a witch, i felt scared like all of us. I felt scared because if they figured out i was a witch they would burned me like a good cooked stake!
        Sounds delicious and scary at the same time.
        <br /> <br />
        So as anyone can expect, my only concern was not gettin caught while unwillingly acting like possessed. But after i made my escape to the woods and realizing that i will be lonely for years i get depressed till i heard my stomach growling at me.
        As expected even my own stomach was agaisnt me! or i was hungry. But the thing is i didn't even know to cook the normal food let alone cooking the witch food! So i made up my mine to learn cooking for my own survival.
        After years of cooking human meals and making potions i figured out maybe i can combine them! That was the start of my journey.
        <br /> <br />
        Let's take a look at some of the reciepes shall we?
        <br /> <br />  <br /> <br />  <br /> <br />
   </p>

</div>
